body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background: url('../assets/images/visual/bg-cave-main.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}
